.gradient-text-orange {
    background: linear-gradient(90deg, #ffffff, #7304fa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dark .gradient-text-orange {
    background: linear-gradient(90deg, #ffffff, #ff6600);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text-violet {
    background: linear-gradient(90deg, #000000, #9743d6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dark .gradient-text-violet {
    background: linear-gradient(90deg, #e1e0e0, #BD6FF8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text-green {
    background: linear-gradient(90deg, #6e6e6e, #03b63c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dark .gradient-text-green {
    background: linear-gradient(90deg, #e1e0e0, #4ADE80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}