@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}