.react-select-container.first-select .css-13cymwt-control {
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
  background-color: #4b4b4b;
  padding: 8px;
  color: #ffffff;
  border: none;
}

.react-select-container:not(.first-select) .css-13cymwt-control {
  border-radius: 0%;
  background-color: #4b4b4b;
  padding: 8px;
  color: #ffffff;
  border: none;
}

.react-select-container__indicator-separator.css-1u9des2-indicatorSeparator {
  background-color: #A78BFA;
  /* Couleur rose pour la barre de séparation */
  width: 2px;
  /* Largeur de la barre de séparation */

}

/* Assurez-vous que les boutons et les AsyncSelect ont la même hauteur */
.custom-btn, custom-btn.perform-search, .react-select-container__control, .checkbox-container {
  height: 50px; /* Exemple de hauteur, ajustez selon vos besoins */
  
}


.custom-btn {
  
  background-color: #4b4b4b !important ; /* Couleur de fond pour les boutons */
  color: #ffffff !important; /* Texte blanc pour les boutons */
  margin-right: -10px; /* Ajustement pour coller les boutons entre eux */
  border-radius: 0 !important;
  padding-left: 10px; /* Espace à gauche du texte */
  padding-right: 15px; /* Espace à droite du texte */
  
}

/* Style spécifique pour le bouton 'performSearch' */
.custom-btn.perform-search {
  border-top-right-radius: 9999px !important;
  border-bottom-right-radius: 9999px !important;
  width: 30px;
  
}

.checkbox-container {
  border: none;
  background-color: #4b4b4b; /* Couleur de fond pour le conteneur de la case à cocher */
  
  width: 8rem; /* Largeur fixe */
  padding: 0.5rem; /* Espacement intérieur */
  display: flex;
  align-items: center; /* Alignement vertical des éléments à l'intérieur */
  cursor: pointer;
  
}

.checkbox-label {
  color: #ffffff; /* Texte blanc pour le label */
  
}

.checkbox {
  
  margin-left: 1rem !important; /* Espace à gauche de la case à cocher */
}