@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background-color: #cfd7ff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}